/TicketApp_Client/nbproject/private/
/TicketApp_Server/build/
/TicketApp_Server/dist/
/TicketApp_Client/build/
/TicketApp_WS/nbproject/private/
/TicketApp_WS/build/
/TicketApp_WS/dist/
/TicketApp_WS_NEW/nbproject/private/
/TicketApp_WS_NEW/build/
/TicketApp_ClassLib/nbproject/private/
/TicketApp_ClassLib/dist/
/TicketApp_ClassLib/build/
